@import "../../../sass/main.scss";

.card {
  width: 100%;
  background-color: $color-primary-dark;
  color: $color-font-light;
}

.form {
  width: 80%;
  margin: 0 auto;

  &__input {
    width: 100%;

    mat-label {
      color: $color-font-light;
    }

    .mat-input-element {
      color: $color-font-light;
    }

    .mat-input-element::placeholder {
      color: $color-font-light;
    }

    .mat-form-field-underline {
      background-color: $color-font-light;
    }

    .mat-form-field-ripple {
      background-color: $color-font-light;
    }
  }
}
