<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Sign In</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="form">
      <mat-form-field class="form__input">
        <mat-label>Username</mat-label>
        <input matInput />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" [routerLink]="['/chat']">Start</a>
  </mat-card-actions>
</mat-card>
