$color-primary: #37474f;
$color-primary-light: #62727b;
$color-primary-dark: #102027;

$color-secondary: #f44336;
$color-secondary-light: #ff7961;
$color-secondary-dark: #ba000d;

$color-font-light: #ffffff;
