// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$chat-primary: mat-palette($mat-blue-grey, 800);
$chat-accent: mat-palette($mat-red, 500, 300, 800);

// The warn palette is optional (defaults to red).
$chat-warn: mat-palette($mat-red, A700);

// Create the theme object (a Sass map containing all of the palettes).
$chat-theme: mat-light-theme($chat-primary, $chat-accent, $chat-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($chat-theme);

@import "./sass/main.scss";

html,
body {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: $color-primary-light;
}
